/* ここから下に記載していく */

@charset "UTF-8";

/*----------------------------------
  Base
------------------------------------*/


html {
    /* -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto; */
}


/* body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
} */

[lang="ja"] {
    font-family: "Lato", sans-serif;
}

a,
button {
    transition: .3s;
}

.header {
    width: 100px;
}

.About {
    max-width: 900px;
    margin: 0 auto;
}



@media (max-width: 767px) {
    .containts_wrapper {
        max-width: 900px;
        margin: 0 auto;
    }

    .l_nav__item {
        display: none;
    }

    .l_header__inner {
        position: relative;
        left: 0px;
    }

    .l_header__inner img {
        width: 180px;
        position: absolute;
        left: 0px;
        object-fit: contain;
        z-index: 2;
        -webkit-filter: drop-shadow(0 0 5px rgba(250, 248, 248, 0.5));

    }

    .section_ttlA {

        width: 100%;
    }

    .section_ttlA h1 {
        color: #ffd61a;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .section_ttlA p {
        padding-bottom: 0px;
    }

    .About {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider-item {}

    .l_aboutImg img {
        display: none;
    }

    .slick-slider {
        position: fixed;
        top: 5px;
        right: -30px;
        width: 60%;
        z-index: 90;
    }

    .footer2 {
        max-width: 1900px;
        margin: 0 auto;
    }

    .footer_gnav {
        position: fixed;
        bottom: 0px;
        height: 50px;
        width: 100%;
        z-index: 90;
        background-color: #fff;
        align-items: center;
        text-align: center;
    }

    .footer_gnav button {
        width: auto;
        margin-top: 5px;
        padding: 5px 15px;
        background-color: #457d49;
        cursor: pointer;
        border-radius: 30em;
    }

    .footer_gnav a {
        text-decoration: none;
        color: #fff;
    }


    .e_hamburger_menu .menu_btn {
        flex-wrap: wrap;
        /* 画像を折り返す */
    }

    /* .container img {
        width: 45%;
        /* 2つ並べる */
    /* margin-bottom: 20px;} */
    .textArea {
        font-size: 24px;
        text-shadow: gray;
    }

    .menu_btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #457d49;
    }

    .menu_btn span,
    .menu_btn span::before,
    .menu_btn span::after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
    }

    .menu_btn span::before {
        bottom: 8px;
    }

    .menu_btn span::after {
        top: 8px;
    }

    /* ↓三本線が、真ん中＝透明度０で消え、上下がrotateしてバツに */
    #menu_btn_check:checked~.menu_btn span {
        background-color: rgba(255, 255, 255, 0);
    }

    #menu_btn_check:checked~.menu_btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #menu_btn_check:checked~.menu_btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    #menu_btn_check {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .l_nav__item a {
        font-size: 18px;
        font-weight: lighter;
    }

    .l_nav__item span {
        display: none;
    }
}


@media screen and (min-width:768px) {
    .listColumn {
        max-width: 960px;
        margin: 0 auto;
    }

    .l_nav__item a {
        font-size: 18px;
        font-weight: lighter;
    }

    .l_nav__list {
        display: flex;
        align-items: center;
        width: 100%;
    }


    .l_nav__item span {
        text-align: center;
        display: none;
    }

    /* span日本語入れる */
    .l_nav__list [lang="ja"] {
        display: block;
        font-size: 10px;
    }

    .About .slick-slider {
        display: none;
    }

    .footer2 {
        display: none;
    }

    .e_hamburger_menu {
        display: none;
    }

    .l_nav__item {
        text-transform: uppercase;
        font-size: 20px;
        padding-left: 48px;
    }

    .header {
        /* background-color: gray; */
        width: 1200px;
        margin: 0 auto;
    }

    .footer {
        background-color: gray;
        width: 1200px;
        color: white;
        margin: 0 auto;

    }

    .thum_box {
        width: auto;
        height: 340px;
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 95%;
        margin: 0 auto;

    }


    .l_header__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .l_nav__list {
        display: flex;
        justify-content: space-between;
    }

    .l_nav__item {
        list-style: none;
        padding-right: 10px;
    }

    .l_nav__item a {
        text-decoration: none;
        color: #222;
    }

    .textArea {
        width: 700px;
        /* border-collapse: collapse; */
        margin: auto;
        padding-top: 130px;
        padding-bottom: 160px;
        text-align: center;
        line-height: 40px;
        /* margin: 0 auto; */
        color: white;
    }

    .textArea h1 {
        font-size: 40px;
        text-shadow: gray;
    }

    .containts_wrapper {
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        /* background-color: red; */
        color: #222;
    }

    .section_ttl {
        padding-top: 60px;
    }

    .section_ttl h1 {
        font-size: 21px;
        font-weight: bold;
        /* padding-top: 20px; */
        padding-bottom: 30px;
    }

    .section_ttl h2 {
        font-size: 18px;
    }

    .section_ttl p {
        font-size: 15px;
    }

    .About p {
        padding-bottom: 20px;
    }

    .About h2 {
        padding-bottom: 60px;
    }

    .button {
        background-color: #ffd61a;
        padding: 22px 100px;
        color: white;
        border-radius: 4px;
        text-decoration: none;
        font-size: 18px;
    }

    a {
        font-size: 20px;
    }

    .section_ttlA h1 {
        color: #ffd61a;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .section_ttlA h2 {
        font-size: 18px;
    }

    .News h1 {
        color: #ffd61a;
    }

    .nws_reccomends {
        width: 1000px;
        display: flex;
        margin: 0 auto;
    }

    .item_reccomend {
        width: 300px;
        margin: 0 15px;
    }

    .item_reccomend p {
        font-size: 14px;
        padding-top: 24px;
    }

    .item_reccomend img {
        width: auto;
    }


    .both {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        text-align: left;
        background-color: #fafafa;
    }

    .oposit_c {
        width: 50%;
    }

    .oposit_size {
        width: 600px;
    }

    .oposit_crse {
        width: 50%;
        text-align: left;
        position: relative;
    }

    .Course_textBox {
        position: absolute;
        top: 0px;
        width: 418px;
        padding: 120px 50px;
    }

    .both:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .Course_textBox2 {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 418px;
        padding: 120px 50px;
    }

    /* course*/
    .img_crs {
        width: 1100px;
        margin: 0 auto;
        /* display: flex; */
        /* justify-content: space-between; */
    }

    .crs_img,
    .crs_txt {
        width: 50%;
    }

    .crs_txt h2 {
        text-align: left;
    }

    .column {
        display: flex;
        justify-content: space-between;
    }

    .column2 {
        display: flex;
        /* flex-direction: row-reverse; */
        justify-content: space-between;
    }

    .test {
        margin: 0 auto;
    }

    .l_table {
        width: 100%;
        border-collapse: collapse;
    }

    .tr {}

    .l_table td {
        width: 200px;
        max-width: auto;
        border: 1px solid #ccc;
        padding: 20px;

    }

    .mapText {
        width: 300px;
        /* border-collapse: collapse; */
        margin: auto;
        text-align: left;
    }

    .map_row {
        /* border: 1px solid #bfbfbf;
        border-right: 1px solid #bfbfbf;
        border-left: none; */
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .formText {
        width: 800px;
        /* border: 1px solid #222;
        border-right: 1p solid #222; */
        /* border-collapse: collapse; */
        margin: 30px auto;
        text-align: left;
    }

    .left {
        border: 1px solid #bfbfbf;
        border-right: 1px solid #bfbfbf;
        border-left: none;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .right {
        border: 1px solid #bfbfbf;
        border-left: 1px solid #bfbfbf;
        border-right: none;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .right input {
        width: 390px;
        margin-left: 8px;
    }

    .right select {
        width: 398px;
        margin-left: 8px;
    }

    .right textarea {
        width: 398px;
        margin-left: 8px;
    }

    .send_area {
        height: 200px;
        padding-top: 24px;
    }


    .href-hover {
        text-decoration: none;
        color: #222;

    }

    @media (hover: hover) {

        /* リンクの場合 */
        a:any-link:hover {}

        /* ボタンの場合 */
        button:enabled:hover {
            background: #ceac16;
            transition: .3s;
        }
    }


}

/* 286 */
.l_nav__item {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 48px;
}

.header {
    /* background-color: gray; */
    width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: gray;
    width: 1200px;
    color: white;
    margin: 0 auto;
}

.footerGNB {
    display: none;
}

.thum_box {
    width: auto;
    height: 340px;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 95%;
    margin: 0 auto;
}

.l_header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.l_nav__list {
    display: flex;
    justify-content: space-between;
}

.l_nav__item {
    list-style: none;
    padding-right: 10px;
}

.l_nav__item a {
    text-decoration: none;
    color: #222;
}

.textArea {
    width: 700px;
    /* border-collapse: collapse; */
    margin: auto;
    padding-top: 130px;
    padding-bottom: 160px;
    text-align: center;
    line-height: 40px;
    /* margin: 0 auto; */
    color: white;
    letter-spacing: 0.06em;
}

.textArea h1 {
    font-size: 40px;
    text-shadow: gray;
    letter-spacing: 0.06em;
}

.textArea h2 {
    letter-spacing: 0.06em;
    font-size: 18px;
}

.containts_wrapper {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #222;
    letter-spacing: 0.06em;
}

.section_ttl {
    padding-top: 60px;
}

.section_ttl h1 {
    font-size: 21px;
    font-weight: bold;
    /* padding-top: 20px; */
    padding-bottom: 30px;
}

.section_ttl h2 {
    font-size: 18px;
}

.section_ttl p {
    font-size: 15px;
}

.About p {
    padding-bottom: 10px;
}

.About h2 {
    padding-bottom: 60px;
}

.button {
    background-color: #ffd61a;
    padding: 22px 100px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
}

a {
    font-size: 20px;
}

.l_aboutImg {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.l_aboutImg img {
    width: 300px;
    object-fit: cover;
}

.About h1 {
    color: #ffd61a;
}

.News h1 {
    color: #ffd61a;
}

.Course p {
    padding-bottom: 20px;
}

.nws_reccomends {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.item_reccomend {
    width: 300px;
    margin: 0 15px;
}

.item_reccomend p {
    font-size: 13px;
    padding-top: 24px;
    letter-spacing: 0rem;
}

.item_reccomend img {
    width: auto;
}


.both {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: left;
}

.oposit_c {
    width: 50%;
}

.oposit_size {
    width: 600px;
}

.oposit_crse {
    width: 50%;
    text-align: left;
    position: relative;
}

.Course_textBox {
    position: absolute;
    top: 20px;
    width: 418px;
    padding: 120px 50px;
}

.both:nth-child(odd) {
    flex-direction: row-reverse;
}

.Course_textBox2 {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 418px;
    padding: 120px 50px;
}

/* course*/
.img_crs {
    width: 1100px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-between; */
}

.crs_img,
.crs_txt {
    width: 50%;
}

.crs_txt h2 {
    text-align: left;
}

.column {
    display: flex;
    justify-content: space-between;
}

.column2 {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}

.test {
    margin: 0 auto;
}

.l_table {
    width: 100%;
    border-collapse: collapse;
}

.l_table td {
    width: 200px;
    max-width: auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.Access {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fafafa;
}

iframe {
    width: 100%;
}


.mapText {
    width: 300px;
    /* border-collapse: collapse; */
    margin: auto;
    text-align: left;
}

.map_row {
    /* border: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: none; */
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formText {
    width: 800px;
    /* border: 1px solid #222;
    border-right: 1p solid #222; */
    /* border-collapse: collapse; */
    margin: 30px auto;
    text-align: left;
}

.left {
    border: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: none;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right {
    border: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-right: none;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right input {
    width: 390px;
    margin-left: 8px;
}

.right select {
    width: 398px;
    margin-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select {
    padding-top: 5px;
    padding-bottom: 15px;
}

.right textarea {
    width: 398px;
    margin-left: 8px;
}

.cct_p {
    margin: 30px auto;
    padding: 3px 0;
}

.send_area {
    height: 200px;
    padding-top: 24px;
}


.href-hover {
    text-decoration: none;
    color: #222;

}

/* ボタン　実装なし */
@media (hover: hover) {


    /* a:any-link:hover {}

  
    button:enabled:hover {
        background: #ceac16;
        transition: .3s;
    } */
}