/* Rsponsive--------:device-widthを使用; */

/* {
    box-sizing: border-box;
} */

#w_main_area {
    width: 100%;
    text-align: center;
    background-color: aquamarine;
}

.l_gnav__item {
    text-transform: uppercase;
}

.l_header {
    max-width: 100%;
    /* z-index: 1000;
    position: fixed; */
    left: 0;
    top: 0;
    color: black;

}

.l_header__inner {
    margin: 0 auto;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;

}




/* gnav */
.l_gnav {
    width: 100%;
    background-color: antiquewhite;
    justify-content: space-around;

}

.l_gnav__list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

.l_gnav__item {
    text-decoration: none;
}

.l_mainVisual_box {
    /* max-width: 100%; */
    height: 400px;
    color: white;

}

.d_inner_img {
    /* margin: 0 auto; */
    /* background-size: cover; */
    /* object-fit: cover; */
    width: 100%;

}

/*  */
@media screen and (max-width:640px) {
    position: static;
    flex-direction: column;
}

.e_conts-body {
    position: relative;
    background: #eee;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.conts-body {
    position: relative;
    background: #eee;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.hamburger {
    width: 40px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 100;
}

.hamburger_bar {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    background: #000;
    transition: top 0.24s, transform 0.24s, opacity 0.24s;
}

.hamburger_bar:nth-child(1) {
    top: 0;
}

.hamburger_bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger_bar:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
}

.hamburger_bar.is_active:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.hamburger_bar.is_active:nth-child(2) {
    transform: translate(50%, -50%);
    opacity: 0;
}

.hamburger_bar.is_active:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-135deg);
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.24s;
    pointer-events: none;
}

.nav.is_active {
    opacity: 1;
    pointer-events: auto;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* リセットCSS */
/* resupon */

@media screen and (min-width: 767px) {
    #menu-bg {
        background-color: #00FFFF;
    }
}

@media screen and (max-width: 767px) {
    #menu-bg {
        background-color: #FF0000;

    }
}

@media screen and (max-width: 479px) {
    #menu-bg {
        background-color: #00FF00;
    }
}




button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  */

/*  */

.l_containts_wrapper1 {
    width: 1200px;
    height: 700px;
    position: relative;
    color: 222;
}

.l_mainVisual_box {}

.L_mVsl__inner_Text {
    position: absolute;
    left: 50%;
    top: 50%;
    background: red;
    line-height: 30px;
    text-align: center;
}

.e_mVsl__inner_txt01 {
    text-shadow: gray;
    background-color: gray;
}

/*  */
/*  */
/*  */
/*  */
/*  */
.c_section_ttl {
    font-size: 30px;
    padding-top: 60px;
}

.About {
    color: #ffd61a;
}

.News {
    color: #ffd61a;
}

table {
    border-collapse: collapse;
}

td {
    width: 400px;
    margin: auto;
    border: 1px solid #BFBFBF;
}

.FormTable {
    height: 60px;
}


.c_footer {
    background: #707070;
    color: white;
}